In [1]:
### import libraries
import numpy as np 
import pandas as pd
import matplotlib as plt
import sqlite3

In [68]:
connection = sqlite3.connect('TcmbRatesContext.db')

In [69]:
cursor = connection.cursor()

In [70]:
#SQLITE DATA TYPES


#INTEGER
#REAL
#TEXT
#BLOBS (BINARY LARGE OBJECTS)
#NULL

In [71]:
#Creat table......
######################################

In [100]:
cursor.execute('CREATE TABLE Valuation(name TEXT,value REAL,transfare REAL)')

In [101]:
connection.commit()

In [102]:
#Insert Values in this table.........
################################

In [103]:
cursor.execute("INSERT INTO MONEY VALUES('USD', '1.83','1.79')")

In [104]:
connection.commit()

In [105]:
cursor.execute("INSERT INTO MONEY VALUES('Euro', '1.65', '1.61')")

In [106]:
connection.commit()

In [107]:
# To make a select Quiery...
##############################
#inthis Query ---cursor.fetchall()-- you can use "fetchone" or "fetchall"

In [108]:
cursor.execute("SELECT * FROM MONEY")

In [109]:
cursor.fetchone()

('USD', 1.83, 1.79)

In [110]:
##
#forloop

In [111]:
for i in cursor.execute("SELECT * FROM MONEY"):
    print (i)

('USD', 1.83, 1.79)
('Euro', 1.65, 1.61)
('AUD', 0.65, 0.56)
('DBR', 3.65, 2.57)
('DNK', 5.67, 6.21)
('USD', 1.83, 1.79)
('Euro', 1.65, 1.61)

In [112]:
#doing inserting by variabels

In [113]:
name = 'AUD'
value = 0.65
transfare = 0.56

In [114]:
cursor.execute("INSERT INTO MONEY VALUES(?, ?,?)", (name,value,transfare))

In [115]:
connection.commit()

In [116]:
name = input('Provide a name: ')
value = float(input('provide a value: '))
transfare = float(input('Provide a transfare: '))

Provide a name: DBR
provide a value: 3.56
Provide a transfare: 2.65

In [117]:
cursor.execute("INSERT INTO MONEY VALUES(?, ?,?)", (name,value,transfare))

In [118]:
cursor.execute("SELECT * FROM MONEY")

In [119]:
cursor.fetchall()

[('USD', 1.83, 1.79),
 ('Euro', 1.65, 1.61),
 ('AUD', 0.65, 0.56),
 ('DBR', 3.65, 2.57),
 ('DNK', 5.67, 6.21),
 ('USD', 1.83, 1.79),
 ('Euro', 1.65, 1.61),
 ('AUD', 0.65, 0.56),
 ('DBR', 3.56, 2.65)]

In [120]:
##Make an in Class

In [121]:
class SQLinput:
    def __init__(self,name,value,transfare):
        self.name = name
        self.value = value
        self.transfare = transfare

In [122]:
inst = SQLinput('DNK', 5.67, 6.21)

In [123]:
name,value,transfare = inst.name, inst.value, inst.transfare

In [124]:
cursor.execute("INSERT INTO MONEY VALUES(?, ?,?)", (name,value,transfare))

In [125]:
cursor.execute("SELECT * FROM MONEY")

In [126]:
connection.commit()

In [127]:
cursor.fetchall()

[('USD', 1.83, 1.79),
 ('Euro', 1.65, 1.61),
 ('AUD', 0.65, 0.56),
 ('DBR', 3.65, 2.57),
 ('DNK', 5.67, 6.21),
 ('USD', 1.83, 1.79),
 ('Euro', 1.65, 1.61),
 ('AUD', 0.65, 0.56),
 ('DBR', 3.56, 2.65),
 ('DNK', 5.67, 6.21)]