In [1]:
### import libraries
import numpy as np 
import pandas as pd
import matplotlib as plt
import sqlite3

In [21]:
connection = sqlite3.connect('MyNewData.db')

In [22]:
cursor = connection.cursor()

In [14]:
#SQLITE DATA TYPES


#INTEGER
#REAL
#TEXT
#BLOBS (BINARY LARGE OBJECTS)
#NULL

In [ ]:
#Creat table......
######################################

In [23]:
cursor.execute('CREATE TABLE MONEY(name TEXT,value REAL,transfare REAL)')

In [24]:
connection.commit()

In [ ]:
#Insert Values in this table.........
################################

In [26]:
cursor.execute("INSERT INTO MONEY VALUES('USD', '1.83','1.79')")

In [27]:
connection.commit()

In [28]:
cursor.execute("INSERT INTO MONEY VALUES('Euro', '1.65', '1.61')")

In [29]:
connection.commit()

In [ ]:
# To make a select Quiery...
##############################
#inthis Query ---cursor.fetchall()-- you can use "fetchone" or "fetchall"

In [35]:
cursor.execute("SELECT * FROM MONEY")

In [36]:
cursor.fetchone()

('USD', 1.83, 1.79)

In [ ]:
##
#forloop

In [37]:
for i in cursor.execute("SELECT * FROM MONEY"):
    print (i)

('USD', 1.83, 1.79)
('Euro', 1.65, 1.61)

In [ ]:
#doing inserting by variabels

In [43]:
name = 'AUD'
value = 0.65
transfare = 0.56

In [44]:
cursor.execute("INSERT INTO MONEY VALUES(?, ?,?)", (name,value,transfare))

In [47]:
connection.commit()

In [50]:
name = input('Provide a name: ')
value = float(input('provide a value: '))
transfare = float(input('Provide a transfare: '))

Provide a name: EGP
provide a value: 0.02
Provide a transfare: 0.21

In [51]:
cursor.execute("INSERT INTO MONEY VALUES(?, ?,?)", (name,value,transfare))

In [52]:
cursor.execute("SELECT * FROM MONEY")

In [59]:
cursor.fetchall()

[]

In [ ]:
##Make an in Class

In [60]:
class SQLinput:
    def __init__(self,name,value,transfare):
        self.name = name
        self.value = value
        self.transfare = transfare

In [61]:
inst = SQLinput('DNK', 5.67, 6.21)

In [63]:
name,value,transfare = inst.name, inst.value, inst.transfare

In [64]:
cursor.execute("INSERT INTO MONEY VALUES(?, ?,?)", (name,value,transfare))

In [65]:
cursor.execute("SELECT * FROM MONEY")

In [66]:
connection.commit()

In [67]:
cursor.fetchall()

[('USD', 1.83, 1.79),
 ('Euro', 1.65, 1.61),
 ('AUD', 0.65, 0.56),
 ('EGP', 0.02, 0.21),
 ('DNK', 5.67, 6.21)]